# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
*.cover
*.log
*.pot
*.pyc
*.pyo

# IDE i editor specifične datoteke
.vscode/
.idea/
*.swp
*.swo

# OS specifične datoteke
.DS_Store
Thumbs.db

# Log datoteke
*.log

# Datoteke sa podacima
data/
*.csv
*.json
*.xlsx

# Modeli i trenirani podaci
model/
checkpoints/
*.h5
*.pt
*.ckpt
*.pkl  # Ako koristite pickle za čuvanje modela

# Konfiguracione datoteke
config.yaml
config.json

# Rezultati treniranja
results/
output/

fine_tuned_model/model.safetensors
results/checkpoint-30/model.safetensors
results/checkpoint-30/optimizer.pt
results/checkpoint-30/scheduler.pt
results/checkpoint-30/training_args.bin
